<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.yftx.AndroidHacks"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".sectionLayout.WeightActivity"
                android:label="Weight property"
                />
        <activity
                android:name=".sectionLayout.customview.CustomCard"
                android:label="自定义View card"/>
        <activity android:name=".sectionAnimation.TextAndImageAnimation"
                android:label="TextView以及ImageView切换动画"
                />
        <activity
                android:name=".sectionLayout.CanvasActivity"
                android:label="Canvas示例"/>
        <activity
                android:name=".sectionAnimation.KenBurnsEffect"
                android:label="KenBurnsEffect"/>
        <activity
                android:name=".sectionTipsAndTricks.FormatTextView"
                android:label="FormatTextView"/>
        <activity
                android:name=".sectionTipsAndTricks.GlowTextView"
                android:label="GlowTextView"/>
    </application>
</manifest>
